################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FiveFives/.vs/FiveFives/FileContentIndex/7e03d5f7-eef8-4989-9130-69cf4f4db989.vsidx
/FiveFives/.vs/FiveFives/FileContentIndex/c5abec22-a9d3-4f75-ab7c-43703784e45d.vsidx
/.vs
/FiveFives/.vs
